@tailwind base;
@tailwind components;
@tailwind utilities;

.common-button {
  font-size: 14px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
