@tailwind base;
@tailwind components;
@tailwind utilities;

.common-button {
  font-size: 14px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
  transition: 0.5s;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
